name: Deploy dev Server

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17.0.12'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Start MySQL container
        run: docker compose up -d --wait
        env:
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}

      - name: Build and runs Tests
        run: |
          ./gradlew build
        env:
          SPRING_APPLICATION_NAME: sejong-life-be
          SPRING_PROFILES_ACTIVE: default

          SPRING_DATASOURCE_DRIVER-CLASS-NAME: com.mysql.cj.jdbc.Driver
          SPRING_DATASOURCE_URL: jdbc:mysql://localhost:3308/sejong_life_db?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
          SPRING_DATASOURCE_USERNAME: root
          SPRING_DATASOURCE_PASSWORD: ${{ secrets.DB_PASSWORD }}

          SPRING_JPA_HIBERNATE_DDL_AUTO: create
          SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MySQLDialect
          SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: true
          SPRING_JPA_PROPERTIES_HIBERNATE_SHOW_SQL: true

          JWT_SECRET: ${{ secrets.JWT_SECRET_KEY }}
          JWT_EXPIRATION: 3600000
          JWT_SIGNUP_EXPIRATION: 600000

          CLOUD_AWS_S3_BUCKET: sejong-life-bucket
          CLOUD_AWS_REGION_STATIC: ap-northeast-2

          NAVER_CLIENT_ID: ${{ secrets.NAVER_CLIENT_ID }}
          NAVER_CLIENT_SECRET: ${{ secrets.NAVER_CLIENT_SECRET }}
          KAKAO_REST_API_KEY: ${{ secrets.KAKAO_REST_API_KEY }}
          GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}

      - name: Stop MySQL container
        if: always()
        run: docker compose down

      - name: Deploy to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          source: "build/libs/server.jar"
          target: "~/sejong-life-prod"

      - name: Execute Server
        uses: appleboy/ssh-action@master
        env:
          NAVER_CLIENT_ID: ${{ secrets.NAVER_CLIENT_ID }}
          NAVER_CLIENT_SECRET: ${{ secrets.NAVER_CLIENT_SECRET }}
          KAKAO_REST_API_KEY: ${{ secrets.KAKAO_REST_API_KEY }}
          GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            sudo -E env \
              NAVER_CLIENT_ID="$NAVER_CLIENT_ID" \
              NAVER_CLIENT_SECRET="$NAVER_CLIENT_SECRET" \
              KAKAO_REST_API_KEY="$KAKAO_REST_API_KEY" \
              GOOGLE_MAPS_API_KEY="$GOOGLE_MAPS_API_KEY" \
              bash /home/ubuntu/sejong-life-prod/deploy.sh
